.container{
    margin-top: 50px;
}


.carousel-bg{
    background-color: #feeae9;
}

.carousel-item{
    padding: 10px 40px;
}

.price{
    color: #ff136f;
    font-size: 32px;
}

.buy-btn{
    background-color: #ff136f;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.categories{
    color: #fff;
}

.category1,.category2,.category3{
    padding: 10px 30px;
    margin-top: 10px;
}



.category1{
    background-image: linear-gradient(to right, #ffb347,#ffcc33);
}

.category2{
    background-image: linear-gradient(to right, #f857a6,#ff5858
    );
}

.category3{
    background-image: linear-gradient(to right, #da22ff,#9733ee
    );
}


.card{
    border: none;
    box-shadow: 4px 4px 10px lightgrey;
}

.card-footer{
    border: none;
    background-color: #fff;
}

#subscribe{
    height: 400px;
    background-color: #feeae9;


}


